apiVersion: v1
kind: Service
metadata:
  name: {{ include "whale.fullname" . }}
  labels:
  {{- include "whale.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
  {{- include "whale.selectorLabels" . | nindent 4 }}
